.addtoany_list {
    display: inline-block;

    padding-top: 1rem;
}
.addtoany_list > a {
    margin-bottom: 8px;
}

.block-addtoany {
    position: relative;
    z-index: 1;
    text-align: right;
}
.block-addtoany .addtoany_list > a {
    padding: 0 1px;
}

/*@media (min-width: 1280px) {*/
    /*.addtoany_list {*/
        /*position: absolute;*/
        /*right: 2.2rem;*/
    /*}*/
/*}*/
