#block-views-block-ultimas-opiniao-block-1,
#block-views-block-mais-lidas,
#block-views-block-asdf-tag-noticia-block-1,
#block-views-block-ultimas-petrobras-block-1,
#block-views-block-ultimas-perspectivas-2017-block-1,
#block-views-block-ultimas-comprar-ou-vender-block-1 {
    margin: 0 0 0.8rem 0;
    padding: 0.8rem 1.5rem 0.4rem;

    border-radius: 2px;
    background: #ffffff;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.1),0 3px 1px -2px rgba(0,0,0,0);
}

block-views-block-ultimas-opiniao-block-1 h2,
#block-views-block-mais-lidas h2,
#block-views-block-ultimas-petrobras-block-1,
#block-views-block-ultimas-perspectivas-2017-block-1,
#block-views-block-ultimas-comprar-ou-vender-block-1 h2 {
    margin-top: 0;
}
#block-cotacoesbovespa h2 {
    margin: 0;

    color: #272c2e;
    font-size: 1.25rem;
    font-weight: bold;
}
#block-cotacoesbovespa p {
    margin: 0;
    padding: 0;
}
#block-cotacoesbovespa .field__item {
    overflow: hidden;
}
#block-cotacoesbovespa {
    margin: 0 0 1rem 0;
    padding: 0.3rem 0 0.5rem;

    background: #ffffff;

    text-align: center;
}

#block-fbpage {
    width: 100%;

    text-align: center;
}
.fb-page {
    width: 100%;
}
