.view-related-by-tags .view-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

        flex-wrap: wrap;
    align-items: flex-start;

    -ms-flex-wrap: wrap;
    -webkit-box-align: start;
    -ms-flex-align: start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
}
.view-related-by-tags .views-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    flex-basis: 33%;

    max-width: 33%; /* IE */
    margin-bottom: 1rem;
    padding: 0 1%;

    -ms-flex-preferred-size: 33%;
}
.view-related-by-tags .views-row h2 {
    font-size: 1rem;
}
.view-related-by-tags .node--type-noticia img {
    width: 100%;
    height: auto;
}

.node--view-mode-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden; /* IE */

        flex-direction: column;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
}
.node--view-mode-card .addtoany_list {
    display: none;
}
.node--view-mode-card .node__content {
    margin-bottom: 0;
}
.node__title--card {
    font-size: 1.1rem;
}
