footer .region-footer {
  margin-bottom: 0;

  background-color: #272c2e;

  color: #ffffff;
  font-size: 0.8rem;
}

#block-copy {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
#block-copy .field--name-body {
  width: 90%;
  margin-top: 0.4rem;
  margin-bottom: 0.6rem;
}
