/* space for the fixed header */
.layout-container {
    padding: 3rem 1rem;
}
.header {
    position: fixed;
    z-index: 1;
    top: -1px; /* fix content appearing behind */
    right: 0;
    left: 0;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    align-items: center;

    width: 100%;
    margin: 0;
    padding-top: 1px; /* fix content appearing behind */

    background-color: #272C2E;

    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;

    -webkit-box-align: center;
    -ms-flex-align: center;
}
.region-primary-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

        flex: 1;
    align-items: center;

    -webkit-box-flex: 1;
    -ms-flex: 1;
    -webkit-box-align: center;
    -ms-flex-align: center;
}

.site-logo_img {
    height: 3rem;

    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
}

.site-slogan {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    align-items: center;

    -webkit-box-align: center;
    -ms-flex-align: center;
}
.site-slogan__text {
    width: 7rem;
    margin-left: 0.8rem;
    padding-left: 0.8rem;

    border-left: 1px solid #343c40;

    font-size: 0.7rem;
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;

    color: #D3D3D3;
}
.menu-link {
    padding: 0.5rem 1rem;

    border-left: 1px solid #343c40;

    color: #AAB0B8;
    font-size: 0.7rem;
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}
.menu-link:first-child {
    border-left: none;
}

.menu--assuntos {
    width: 100%;

    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
}
.menu--assuntos .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

        flex-wrap: wrap;
    justify-content: space-around;

    width: 100%;
    margin: 0;

    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;

    -ms-flex-wrap: wrap;
    -ms-flex-pack: distribute;
}
.menu--assuntos .menu-item {
    margin: 0;
    padding: 0;
}
.menu--assuntos .menu a {
    padding: 0 0.4rem;

    color: #E6E6E6;
    font-size: 0.85rem;
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
    text-decoration: none;
    text-transform: uppercase;
}

.menu-hamburger{
    background-color: #343C40;
}

.block-search {
    width: 16rem;
}


.social-icons {
    font-size: 0.8rem;
}
.social-icon {
    width: 1rem;
    margin: 0.1rem 0.2rem;

    color: #E6E6E6;
    text-decoration: none;
}


@media (min-width: 500px) {
    .layout-container {
        padding: 10rem 1rem;

        -webkit-transition-duration: 0.3s;
                transition-duration: 0.3s;
    }
    .header {
            flex-wrap: wrap;

        box-shadow: 0 3px 3px 0 rgba(0,0,0,0.22);

        -ms-flex-wrap: wrap;
    }
    .site-logo {
        padding: 1.2rem 0;

        -webkit-transition-duration: 0.3s;
                transition-duration: 0.3s;
    }
    .site-logo_img {
        height: 56px;

        -webkit-transition-duration: 0.3s;
                transition-duration: 0.3s;
    }
    .site-slogan {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;

        align-items: center;

        -webkit-box-align: center;
        -ms-flex-align: center;
    }
    .block-system-branding-block {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;

        justify-content: center;

        width: 100%;

        -webkit-box-pack: center;
        -ms-flex-pack: center;
    }

    .menu--main {
        position: absolute;
        top: 2.3rem;
        right: 2rem;

        display: block;
    }
    .menu--assuntos .menu-item {
        line-height: 3;
    }
    /* menu fixed
   ======================================================================== */
    .menu--fixed .block-system-branding-block {
        width: auto;

        border: none;
    }
    .menu--fixed .header {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;

        align-items: center;

        -webkit-box-align: center;
        -ms-flex-align: center;

        background-color: #343C40;
    }
    .menu--fixed .site-logo {
        padding: 0.1rem 0.4rem;

        -webkit-transition-duration: 0.3s;
                transition-duration: 0.3s;
    }
    .menu--fixed .site-logo_img {
        height: 2rem;

        -webkit-transition-duration: 0.3s;
                transition-duration: 0.3s;
    }
    .menu--fixed .site-slogan {
        display: none;
    }
    .menu--fixed .menu--main {
        display: none;
    }
    .menu--fixed .menu-item {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;

        padding: 0;

        -webkit-transition-duration: 0.3s;
                transition-duration: 0.3s;
    }
    .menu--fixed .menu--assuntos .menu a {
        font-size: 0.6rem;
        -webkit-transition-duration: 0.3s;
                transition-duration: 0.3s;
    }
    .menu--fixed .menu--assuntos {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;

        align-items: center;

        -webkit-box-align: center;
        -ms-flex-align: center;
    }

    .social-icons {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;

            flex-direction: row;

        margin-right: 0.2rem;

        font-size: 1.2rem;

        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
    }
    .social-icon {
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;

        justify-content: center;

        -webkit-box-pack: center;
        -ms-flex-pack: center;
    }
    .menu-hamburger {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;

            flex: 1;
        align-items: center;

        -webkit-box-flex: 1;
        -ms-flex: 1;
        -webkit-box-align: center;
        -ms-flex-align: center;
    }
    .menu-hamburger_toggle,
    .hamburger-button {
        display: none;
    }
}
