@media (max-width: 880px) {
    .menu-hamburger_toggle {
        position: absolute;
        z-index: 99;
        top: 0;
        right: 0;

        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;

        width: 3rem;
        height: 3rem;
        margin: 0;
        padding: 0;

        opacity: 0;
        background-color: rgba(255,255,255,0.97);

        cursor: pointer;

        -webkit-touch-callout: none;
    }

    .header {
            flex-wrap: wrap;

        -ms-flex-wrap: wrap;
    }

    .block-system-branding-block {
        z-index: 10;

        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;

            flex: 1;

        background-color: #272c2e;
        box-shadow: 0 3px 3px 0 rgba(0,0,0,0.22);

        -webkit-box-flex: 1;
        -ms-flex: 1;
    }

    .menu-hamburger .region-primary-menu {
        position: relative;

        display: block;

        width: 50%;
        margin: 0 auto;

        text-align: center;
    }

    .menu--main {
        margin-top: 3rem;
    }

    .menu-hamburger .menu--assuntos .menu {
        -webkit-transition-duration: 0.6s;
                transition-duration: 0.6s;
    }

    .menu-link {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;

        align-items: center;
        justify-content: center;

        padding: 1rem;

        border-left: none;

        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
    }
    .menu-link:first-child {
        margin-top: 1rem;

        border-top: 1px solid #cccccc;
    }
    .menu-link:last-child {
        margin-bottom: 1rem;

        border-bottom: 1px solid #cccccc;
    }

    .menu-hamburger {
        position: absolute;
        top: -99rem;

        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;

            flex-direction: column;

        width: 100%;
        height: 0;

        opacity: 0;

        -webkit-transition-duration: 0.6s;
                transition-duration: 0.6s;

        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
    }

    .menu-hamburger .social-icons {
        display: block;

        width: 100%;

        text-align: center;
    }

    .menu--assuntos .menu-item {
        width: 100%;

        line-height: 2;
        text-align: center;
    }

    .social-icon {
        font-size: 1.7rem;
    }

    .social-icon .fa {
        line-height: 2;
    }

    /*
     * https://codepen.io/erikterwan/pen/EVzeRP
     */
    .hamburger-button {
        position: absolute;
        z-index: 10;
        top: 1rem;
        right: 0;

        width: 2rem;
        margin-right: 0.6rem;
    }

    .hamburger-button span {
        position: relative;
        z-index: 1;

        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;

        width: 2rem;
        height: 4px;
        margin-bottom: 5px;

        border-radius: 3px;
        background: #cdcdcd;

        -webkit-transition: width 0.5s ease-in-out,
        -webkit-transform 0.3s ease-in-out;
                transition: width 0.5s ease-in-out,
        -webkit-transform 0.3s ease-in-out;
                transition: transform 0.3s ease-in-out,
        width 0.5s ease-in-out;
                transition: transform 0.3s ease-in-out,
        width 0.5s ease-in-out,
        -webkit-transform 0.3s ease-in-out;
        -webkit-transform-origin: 0 0;
                transform-origin: 0 0;
    }

    .menu-hamburger_toggle:checked ~ .menu-hamburger {
        position: absolute;
        z-index: 2;
        top: 3rem;
        right: 0;
        bottom: 0;
        left: 0;

        overflow-y: scroll;

        width: 100%;
        height: 100vh;
        padding-bottom: 8rem; /* google ads */

        opacity: 1;
        background-color: #ffffff;
    }

    .menu-hamburger_toggle:checked ~ .hamburger-button span:nth-last-child(1) {
        -webkit-transform: rotate(-45deg) translate(-0rem, -0rem);
                transform: rotate(-45deg) translate(-0rem, -0rem);
    }

    .menu-hamburger_toggle:checked ~ .hamburger-button span:nth-last-child(3) {
        -webkit-transform: rotate(45deg) translate(0rem, -0.3rem);
                transform: rotate(45deg) translate(0rem, -0.3rem);
    }

    .menu-hamburger_toggle ~ .hamburger-button span:nth-last-child(2) {
        width: 2rem;
    }

    .menu-hamburger_toggle:checked ~ .hamburger-button span:nth-last-child(2) {
        width: 0;

        -webkit-transition-duration: 0.2s;
                transition-duration: 0.2s;
    }

    .search_form {
        position: absolute;
        top: 0.8rem;

        width: 100%;
    }
    .search_form-icons {
        margin: 0 auto;
    }
}
