.view-mais-lidas .views-row {
    margin-bottom: 0.4rem;
}
.view-mais-lidas img {
    max-width: 100%;
    height: auto;
}
.view-mais-lidas .node__title--card {
    margin-top: 0;
}

.view-mais-lidas .node__title--card {
    margin-top: 0;
}
.view-mais-lidas .node__title--card {
    margin-top: 0;
}

.view-mais-lidas .views-field {
    margin-bottom: 1.4rem;
}


.view-mais-lidas .views-field-title a {
    color: #222;
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
}


