.node--type-noticia {
    position: relative;
}

/* node title
   ========================================================================== */
.node__title {
        flex: 1;

    margin: 0 0 1rem 0;

    font-size: 1.3rem;

    -webkit-box-flex: 1;
    -ms-flex: 1;
}
.node__title-link {
    color: #222222;
    text-decoration: none;
}
/* node meta
   ========================================================================== */
.node__submitted {
    color: #444444;
    font-size: 0.8rem;
}
.node__submitted .field--type-created {
    color: #888888;
}


/* node content
   ========================================================================== */
.node__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

        flex-wrap: wrap;

    margin: 0 0 1rem 0;

    -ms-flex-wrap: wrap;
}
.node--view-mode-full .field--type-text-long,
.node--view-mode-full .field--type-text-with-summary {
    min-width: 100%;
}
.node--view-mode-full .field--type-text-long img,
.node--view-mode-full .field--type-text-with-summary img {
    max-width: 100%;
}
.node--type-noticia p {
    line-height: 1.5;
}
.node--type-noticia img {
    margin: 1em 0;
}
.main-content_noticia {
    margin: 0 1rem 1rem;

    border-radius: 2px;
    background: #ffffff;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.1),0 3px 1px -2px rgba(0,0,0,0);
}
.block-addtoany {
    position: relative;
}
.block-addtoany .addtoany_list > a {
    padding: 0 1px;
}
@media (min-width: 640px) {
    .addtoany_list {
        position: absolute;
        top: 0;
        right: 0;
    }
}
/* ==========================================================================
   Bigger screens
   ========================================================================== */
@media (min-width: 1130px) {
    .node__content {
        margin-left: 0;
    }
    .node__title {
            flex: 1 1 100%;

        -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
    }
}

/* ==========================================================================
   Smaller screens
   ========================================================================== */
@media (max-width: 320px) {
    .node__title {
        font-size: 1.1rem;
    }
}
