.popup_hidden {
  display: none !important;
}

.popup {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  background-color: rgba(39, 44, 46, 0.7);
  display: flex;
  z-index: 999;
  justify-content: center;
  align-items: center;
}

.popup_body {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.popup_close {
  margin: 0;
  padding: 0.5rem 1rem;
  border: 0;
  background: #00c940;
  color: #ffffff;
  font-size: 0.9rem;
}

.popup_link {}

.popup_img {
  max-width: 100%;
}
