.search_form {
    margin-right: .4rem;
    position: relative;
}
.search_form .form-item,
.search_form .form-actions {
    margin: 0;
}
.search_form input {
    border-radius: 4px;
    border: 0;
    padding: 0.1rem 1.1rem 0.1rem .4rem;
    width: 100%;
}
.search_form-icons {
    padding: 0 0.2rem;

    color: #666;
    font-size: 1.2rem;
    position: absolute;
    right: 0;
}

.search_form .form-submit {
    top: 0;
    right: 0;
    font-size: 0;
    background-color: transparent;
    position: absolute;
    bottom: 0;
    width: 1rem;
}
@media (min-width: 880px) {
    .search_form input {
        width: 8rem;
    }
}