.search_form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    align-items: center;

    -webkit-box-align: center;
    -ms-flex-align: center;
}
.search_form .form-item,
.search_form .form-actions {
    margin: 0;
}

.search_form-icons {
    padding: 0 0.2rem;

    font-size: 1.2rem;

    color: #e6e6e6;
}

.search_form .form-submit {
    /* visually-hidden */
    position: absolute !important;

    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);

    width: 1px;
    height: 1px;

    word-wrap: normal;
}
