.block-mailchimp-signup {
    width: 260px;
    margin: 1rem auto 2rem;
    padding: 1.1rem;

    border: 1px solid #eeeeee;

    font-size: 0.9rem;
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
}
.block-mailchimp-signup:after {
    display: block;
    clear: both;

    content: "";
}
.block-mailchimp-signup h2 {
    margin-top: 0;
    margin-bottom: 1.4rem;

    color: #272c2e;
    font-size: 1.25rem;
    font-weight: bold;
}
.mailchimp-newsletter-mergefields {
    margin: 0.5rem 0;
}
.mailchimp-newsletter-mergefields label {
    display: none;
}
.mailchimp-newsletter-mergefields input {
    width: 100%;
    height: 2rem;
}
.block-mailchimp-signup .form-item {
    margin: 0;
}
.block-mailchimp-signup .form-submit {
    margin: 0;
    padding: 0.5rem 1rem;

    border: 0;
    background: #00c940;

    color: #ffffff;
    font-size: 0.9rem;
}

#block-bolsas {
    margin-bottom: 1rem;

    text-align: center;
}
#block-moedas {
    margin-bottom: 1rem;

    text-align: center;
}

@media (min-width: 1024px) {
    .layout-sidebar-second,
    .region-sidebar-second {
        min-width: 300px; /* adsense */
        min-height: 0.5vh;
    }
    .region-sidebar-second {
        position: fixed;
        top: 10rem;
        right: 0;
    }

    .menu--fixed .region-sidebar-second {
        top: 3rem;

        -webkit-transition-duration: 0.3s;
                transition-duration: 0.3s;
    }

    .region-sidebar-second .block-adsense,
    .region-sidebar-second .adsense {
        width: 16rem;
    }
}
