#block-bolsas {
    display: none;

    margin-bottom: 1rem;

    text-align: center;
}
#block-moedas {
    display: none;

    margin-bottom: 1rem;

    text-align: center;
}

@media (min-width: 1024px) {
    .layout-sidebar-second,
    .region-sidebar-second {
        width: 300px; /* adsense */
        min-height: 0.5vh;
    }
}

.banner-popup {
    margin-bottom: 1rem;

    text-align: center;
}


@media (min-width: 1024px) {
    .first-sidebar-block--fixed .region-sidebar-first .block:last-child {
        position: fixed;
        top: 44px;
    }

    .second-sidebar-block--fixed .region-sidebar-second .block:last-child {
        position: fixed;
        top: 44px;
    }
}