.block-mailchimp-signup {
    width: 100%;
    margin: 0 auto 1rem;
    padding: 1.25rem;

    border-radius: 2px;
    background: #ffffff;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.1),0 3px 1px -2px rgba(0,0,0,0);

    font-size: 0.9rem;
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
}
.block-mailchimp-signup:after {
    display: block;
    clear: both;

    content: "";
}
.block-mailchimp-signup h2 {
    margin-top: 0;
    margin-bottom: 1.4rem;

    color: #272c2e;
    font-size: 1.25rem;
    font-weight: bold;
}
.mailchimp-newsletter-mergefields {
    margin: 0.5rem 0;
}
.mailchimp-newsletter-mergefields label {
    display: none;
}
.mailchimp-newsletter-mergefields input {
    width: 100%;
    height: 2rem;

    padding-left: 0.4rem;
    padding-right: 0.2rem;
}
.block-mailchimp-signup .form-item {
    margin: 0;
}
.block-mailchimp-signup .form-submit {
    margin: 0;
    padding: 0.5rem 1rem;

    border: 0;
    background: #00c940;

    color: #ffffff;
    font-size: 0.9rem;
}

#block-bolsas {
    display: none;

    margin-bottom: 1rem;

    text-align: center;
}
#block-moedas {
    display: none;

    margin-bottom: 1rem;

    text-align: center;
}

@media (min-width: 1024px) {
    .layout-sidebar-second,
    .region-sidebar-second {
        width: 300px; /* adsense */
        min-height: 0.5vh;
    }
}

.banner-popup {
    margin-bottom: 1rem;

    text-align: center;
}

.js-insert-giro .block-mailchimp-signup {
    padding-bottom: 0.7rem;
}
.js-insert-giro .block-mailchimp-signup h2 {
    display: none;
}
.js-insert-giro .block-mailchimp-signup .block-mailchimp-signup-legend {
    font-size: 0.85rem;
}
.js-insert-giro .block-mailchimp-signup form {
    display: flex;
    flex-wrap: wrap;
}
.js-insert-giro .block-mailchimp-signup .mailchimp-newsletter-mergefields {
    display: flex;
}
.js-insert-giro .block-mailchimp-signup .form-item {
    width: 100%;
}
.js-insert-giro .block-mailchimp-signup .form-submit {
    height: 2rem;
    align-self: center;
    justify-content: center;
    display: flex;
}

@media (min-width: 768px) {
    .js-insert-giro .block-mailchimp-signup .mailchimp-newsletter-mergefields {
        width: 80%;
    }
    .js-insert-giro .block-mailchimp-signup .form-submit {
        width: 20%;
        padding: 0;
    }
}