main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

        flex-direction: column;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
}
.layout-content {
    width: 100%;
}

.adsense_cabecalho,
.block-adsense-managed-ad-block {
    display: none;
}


@media (min-width: 800px) {
    .layout-content {
        padding: 0 1.4rem;
    }
    .layout-sidebar-first {
        -webkit-box-ordinal-group: 0;
            -ms-flex-order: -1;
                order: -1;

        min-width: 305px; /* investing.com */
        max-width: 25rem;
    }
}


/* ==========================================================================
   Bigger screens
   ========================================================================== */
@media (min-width: 800px) {
    main {
            flex-direction: initial;

        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: initial;
    }
    .adsense_cabecalho,
    .block-adsense-managed-ad-block {
        display: block;

        margin-top: 1rem;
    }
}
