main {
    display: flex;

    flex-direction: column;
}
.layout-content {
    width: 100%;
}

.adsense_cabecalho,
.block-adsense-managed-ad-block {
    display: none;
}
/* ==========================================================================
   Bigger screens
   ========================================================================== */
@media (min-width: 500px) {
    main {
        flex-direction: initial;
    }
    .adsense_cabecalho,
    .block-adsense-managed-ad-block {
        display: block;
    }
}
