.block-view {
    margin-bottom: 2.15rem;
}
.block-views h2 {
    margin: 0 0 1.4rem 0;

    color: #272c2e;
    font-size: 1.25rem;
    font-weight: bold;
}
.block-views h2 a {
    color: #272c2e;
    text-decoration: none;
}
.block-views h2 a:hover {
    text-decoration: underline;
}
#block-views-block-ultimas-noticias-block-1 {
    margin-top: 2rem;
}

/* box
   ========================================================================== */
.view-box .views-row {
    position: relative;

    margin-bottom: 0.5rem;
    padding-bottom: 0.5rem;

    border-bottom: 1px solid #eeeeee;
}
.view-box .views-row:last-child {
    margin-bottom: 0;

    border-bottom: 0;
}
.view-box img {
    max-width: 100%;
    height: auto;
}
.view-box .node__title--card {
    margin-top: 0;
}
.view-box .views-field-title a {
    color: #222222;
    font-size: 0.8rem;
    font-weight: normal;
    text-decoration: none;
}
.view-box .views-field-title a:hover {
    text-decoration: underline;
}

/* counter
   ========================================================================== */
.view-counter {
    counter-reset: number 0;
}
.view-counter .views-row:before {
    position: absolute;
    top: 0.2rem;
    left: 0;

    height: 100%;

    color: #00c940;
    font-size: 1.8rem;
    font-weight: normal;
    line-height: 1;
    content: counter(number);
    counter-increment: number;
}
.view-counter .views-row {
    min-height: 3rem;
    padding-left: 2rem;
}

/* Front page list
   ========================================================================== */

.view-frontpage .view-content .views-row:nth-child(1) {
    margin-top: -2em;
}
.view-frontpage .view-content .views-row:nth-child(2) .node--view-mode-teaser {
    margin-top: 5rem;
}
.view-frontpage .view-content .views-row:nth-child(2) .node--view-mode-teaser:before {
    position: absolute;
    top: -46px;
    left: 0;

    display: block;

    margin: 0 0 1.4rem 0;

    color: #222222;
    font-size: 1.25rem;
    font-weight: bold;
    content: "Últimas Notícias";
}
