.block-view {
    margin-bottom: 2.15rem;
}
.block-views h2 {
    margin: 0 0 1.4rem 0;
    padding-bottom: 0.1rem;

    color: #272c2e;
    font-size: 1rem;
    font-weight: bold;
}
.block-views > h2 {
    border-bottom: 2px solid #00c940;
}
.block-views h2 a {
    color: #272c2e;
    text-decoration: none;
}
.block-views h2 a:hover {
    text-decoration: underline;
}
#block-views-block-ultimas-noticias-block-1 {
    margin-top: 2rem;
}

/* box
   ========================================================================== */
.view-box .views-row {
    position: relative;

    margin-bottom: 0.5rem;
    padding-bottom: 0.5rem;

    border-bottom: 1px solid #eeeeee;
}
.view-box .views-row:last-child {
    margin-bottom: 0;

    border-bottom: 0;
}
.view-box img {
    max-width: 100%;
    height: auto;
}
.view-box .node__title--card {
    margin-top: 0;
}
.view-box .views-field-title a {
    display: inline-block;

    color: #222222;
    font-size: 0.8rem;
    font-weight: normal;
    line-height: 1.4;
    text-decoration: none;
}
.view-box .views-field-title a:hover {
    text-decoration: underline;
}

/* counter
   ========================================================================== */
.view-counter {
    counter-reset: number 0;
}
.view-counter .views-row:before {
    position: absolute;
    top: 0.2rem;
    left: 0;

    height: 100%;

    color: #00c940;
    font-size: 1.3rem;
    font-weight: normal;
    line-height: 1;
    content: counter(number);
    counter-increment: number;
}
.view-counter .views-row {
    min-height: 2rem;
    padding-left: 1.5rem;
}

/* Front page list
   ========================================================================== */
.path-frontpage .main-content .block-page-title-block {
    display: none;
}
.view-frontpage .view-content .views-row:nth-child(1) {
    width: 100%;
}

@media (min-width: 460px) {
    .view-frontpage .view-content .views-row:nth-child(1) {
        margin-bottom: 1rem;
    }
}

.view-frontpage .view-content .views-row:nth-child(2),
.view-frontpage .view-content .views-row:nth-child(3) {
    display: inline-block;
    overflow: hidden;

    width: 49%;
    vertical-align: top;
}
.view-frontpage .view-content .views-row:nth-child(2) {
    margin-right: -5px;
}
.view-frontpage .view-content .views-row:nth-child(3) {
    margin-left: 2%;
}

.view-frontpage .view-content .views-row:nth-child(2) .node__title,
.view-frontpage .view-content .views-row:nth-child(3) .node__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    order: 2;

    padding: 1rem 0.8rem 1.3rem;

    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
}

.view-frontpage .view-content .views-row:nth-child(2) .field--type-image a,
.view-frontpage .view-content .views-row:nth-child(3) .field--type-image a {
    display: block;
    overflow: hidden;
}

.view-frontpage .view-content .views-row:nth-child(2) .field--type-image img,
.view-frontpage .view-content .views-row:nth-child(3) .field--type-image img {
    width: 100%;
}

.view-frontpage .view-content .views-row:nth-child(2) .field--name-title,
.view-frontpage .view-content .views-row:nth-child(3) .field--name-title {
    position: relative;
    bottom: initial;

    padding: 0;

    background: white;

    color: #222222;
    font-size: 1rem;
    min-height: 3.2rem;
}

.view-frontpage .view-content .views-row:nth-child(2) .node__title-link,
.view-frontpage .view-content .views-row:nth-child(3) .node__title-link {
    position: relative;
}


.view-frontpage-link_title {
    width: 100%;
    margin: 0 0 1.4rem 0;
    padding-bottom: 0.1rem;

    border-bottom: 2px solid #00c940;

    font-size: 1.2rem;
    font-weight: bold;
}
.view-frontpage-link_link {
    color: #272c2e;
    text-decoration: none;
}
.view-frontpage-link_link:hover {
    text-decoration: underline;
}
